<!-- Validation failure messages -->

<% if @itinerary.errors.any? %>
<% @itinerary.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Itinerary #<%= @itinerary.id %></h3>
    </div>
    <div class="panel-body">
      <form action="/update_itinerary/<%= @itinerary.id %>" method="post" class="form-horizontal">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


        <!-- Label and input for itinerary_name -->
        <div class="form-group">
          <label for="itinerary_name" class="col-sm-2 control-label">
            Itinerary name
          </label>
          <div class="col-sm-10">
            <textarea id="itinerary_name" name="itinerary_name" placeholder="Itinerary name" class="form-control" rows="1"><%= @itinerary.itinerary_name %></textarea>
          </div>
        </div>

        <!-- Label and input for start_date -->
        <div class="form-group">
          <label for="start_date" class="col-sm-2 control-label">
            Start date
          </label>
          <div class="col-sm-10">
            <input type="text" id="start_date" name="start_date" placeholder="06/18/2015" class="form-control" value="<%=  @itinerary.start_date.strftime("%m/%d/%Y") %>">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-warning">
              Update Itinerary
            </button>
            or
            <a href="/itineraries/<%= @itinerary.id %>">Cancel</a>
          </div>
        </div>
      </form>
    </div>




    <!-- End responsive panel example -->
  </div>

</div>


<!-- End responsive panel example -->
