<!-- Validation failure messages -->

<% if @itinerary.errors.any? %>
<% @itinerary.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Itinerary #<%= @itinerary.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_itinerary/<%= @itinerary.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for start_date -->
          <div class="form-group">
            <label for="start_date" class="col-sm-2 control-label">
              Start date
            </label>
            <div class="col-sm-10">
              <input type="text" id="start_date" name="start_date" placeholder="Start date" class="form-control" value="<%=  @itinerary.start_date.strftime("%B %e, %Y") %>">
            </div>
          </div>

          <!-- Label and input for itinerary_name -->
          <div class="form-group">
            <label for="itinerary_name" class="col-sm-2 control-label">
              Itinerary name
            </label>
            <div class="col-sm-10">
              <textarea id="itinerary_name" name="itinerary_name" placeholder="Itinerary name" class="form-control" rows="3"><%= @itinerary.itinerary_name %></textarea>
            </div>
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @itinerary.user_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Itinerary
              </button>
              or
              <a href="/itineraries/<%= @itinerary.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>


      <!-- Validation failure messages -->

      <% @day = Day.new %>

      <% if @day.errors.any? %>
      <% @day.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
      <% end %>
      <% end %>

      <!-- Responsive panel example -->

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Add Day</h3>
            </div>
            <div class="panel-body">
              <form action="/create_day" method="post" class="form-horizontal">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <!-- Label and input for arrival_date -->
                <div class="form-group">
                  <label for="arrival_date" class="col-sm-2 control-label">
                    Arrival date
                  </label>
                  <div class="col-sm-10">
                    <input type="text" id="arrival_date" name="arrival_date" placeholder="Arrival date" class="form-control" value="<%= @day.arrival_date %>">
                  </div>
                </div>

                <div class="form-group">
                <div class="col-sm-10">
                <h3>
                Add A New Location
                  <a href="/locations/new" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
                </h3>
              </div>
              </div>

                <!-- Label and input for origin_location_id -->
                <div class="form-group">
                  <label for="origin_location_id" class="col-sm-2 control-label">
                    Origin location
                  </label>
                  <div class="col-sm-10">
                    <%= select_tag(:origin_location_id, options_from_collection_for_select(Location.all, :id, :location_name, @day.origin_location_id), :class => "form-control") %>
                  </div>
                </div>

                <!-- Label and input for destination_location_id -->
                <div class="form-group">
                  <label for="destination_location_id" class="col-sm-2 control-label">
                    Destination location
                  </label>
                  <div class="col-sm-10">
                    <%= select_tag(:destination_location_id, options_from_collection_for_select(Location.all, :id, :location_name, @day.destination_location_id), :class => "form-control") %>
                  </div>
                </div>

                <!-- Label and input for lodging_name -->
                <div class="form-group">
                  <label for="lodging_name" class="col-sm-2 control-label">
                    Lodging name
                  </label>
                  <div class="col-sm-10">
                    <textarea id="lodging_name" name="lodging_name" placeholder="Lodging name" class="form-control" rows="3"><%= @day.lodging_name %></textarea>
                  </div>
                </div>

                <!-- Label and input for lodging_address -->
                <div class="form-group">
                  <label for="lodging_address" class="col-sm-2 control-label">
                    Lodging address
                  </label>
                  <div class="col-sm-10">
                    <input type="text" id="lodging_address" name="lodging_address" placeholder="Lodging address" class="form-control" value="<%= @day.lodging_address %>">
                  </div>
                </div>

                <!-- Label and input for transportation -->
                <div class="form-group">
                  <label for="transportation" class="col-sm-2 control-label">
                    Transportation
                  </label>
                  <div class="col-sm-10">
                    <textarea id="transportation" name="transportation" placeholder="Transportation" class="form-control" rows="3"><%= @day.transportation %></textarea>
                  </div>
                </div>

                <!-- Label and input for events -->
                <div class="form-group">
                  <label for="events" class="col-sm-2 control-label">
                    Events
                  </label>
                  <div class="col-sm-10">
                    <textarea id="events" name="events" placeholder="Events" class="form-control" rows="3"><%= @day.events %></textarea>
                  </div>
                </div>


                <!-- Label and input for notes -->
                <div class="form-group">
                  <label for="notes" class="col-sm-2 control-label">
                    Notes
                  </label>
                  <div class="col-sm-10">
                    <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @day.notes %></textarea>
                  </div>
                </div>


                <input type="hidden" id="itinerary_id" name="itinerary_id" placeholder="Itinerary" class="form-control" value="<%= @itinerary.id %>">


                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success">
                      Create Day
                    </button>
                    or
                    <a href="/days">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- End responsive panel example -->
    </div>
  </div>
</div>


<!-- End responsive panel example -->
