<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Itinerary #<%= @itinerary.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Start date</dt>
              <dd><%= @itinerary.start_date %></dd>

              <dt>Itinerary name</dt>
              <dd><%= @itinerary.itinerary_name %></dd>

              <dt>User</dt>
              <dd><%= @itinerary.user_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/itineraries" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/itineraries/<%= @itinerary.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_itinerary/<%= @itinerary.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <ul>
        <% @itinerary.days.each do |day| %>
        <li><%= day.lodging_address %></li>
        <% end %>
      </ul>

      <!-- Validation failure messages -->

      <% @day = Day.new %>

      <% if @day.errors.any? %>
      <% @day.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
      <% end %>
      <% end %>



    </div>
  </div>
</div>

<!-- End responsive panel example -->
