<!-- Responsive panel example-->

<div class="row">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Location #<%= @location.id %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <dl class="dl-horizontal">
            <dt>Location name</dt>
            <dd><%= @location.location_name %></dd>

            <dt>Location region</dt>
            <dd><%= @location.location_region %></dd>

            <dt>Location zipcode</dt>
            <dd><%= @location.location_zipcode %></dd>

          </dl>
          <div class="btn-group btn-group-justified">
            <a href="/locations" class="btn btn-primary">
              <i class="fa fa-chevron-left"></i>
            </a>

            <a href="/locations/<%= @location.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>

            <a href="/delete_location/<%= @location.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- End responsive panel example -->
